@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-title: var(--font-viaoda-libre), serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b;
  color: #a1a1aa;
  overflow-x: hidden;
}

.font-title {
  font-family: var(--font-viaoda-libre);
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

.pattern-1 {
  background-color: #e5e5f7;
  opacity: 1;
  background-image:
    linear-gradient(135deg, #000000 25%, transparent 25%),
    linear-gradient(225deg, #000000 25%, transparent 25%),
    linear-gradient(45deg, #000000 25%, transparent 25%),
    linear-gradient(315deg, #000000 25%, #ff6824 25%);
  background-position:
    10px 0,
    10px 0,
    0 0,
    0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}
.pattern-2 {
  background-color: #ff6824;
  opacity: 1;
  background:
    radial-gradient(
      circle,
      transparent 20%,
      #ff6824 20%,
      #ff6824 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ff6824 20%,
        #ff6824 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#000000 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #000000 2px, #ff6824 2px) -1px 0;
  background-size:
    50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
}

.pattern-3 {
  background-color: #ff6824;
  opacity: 0.8;
  background-image:
    repeating-radial-gradient(circle at 0 0, transparent 0, #ff6824 10px),
    repeating-linear-gradient(#00000055, #000000);
}
